<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar entidades</h3>
      Uma entidade é qualquer entidade que recebe ou entrega matéria-prima para o estoque do LAB. Exemplo: "LAB - Faceshield" pode ser uma entidade que recebe do estoque filamento, álcool.
      <form method="POST">
        <input class="form-control mb-3" type="text" name="nome" placeholder="Nome" required></input>
        <input class="form-control mb-3" type="text" name="email" placeholder="E-mail"></input>
        <input class="form-control mb-3" type="text" name="nomeRepresentante" placeholder="Nome do representante"></input>
        <input class="form-control mb-3" type="text" name="telefone" placeholder="Telefone"></input>
        <button class="btn btn-success mb-3" type="submit">Cadastrar</button>
      </form>
      <h3>Entidades cadastradas</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Representante</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <% entidades.forEach(u => { %>
            <tr>
              <td><%= u.id %></td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="nome" value="<%= u.nome %>"></input></td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="email" value="<%= u.email %>"></input></td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="nomeRepresentante" value="<%= u.nomeRepresentante %>"></input></td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="telefone" value="<%= u.telefone %>"></input></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>