<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>

    <h3>Embalagem primária</h3>
    <span style="color: orange">Implementar uma forma de visualizar os lotes embalados</span>
    <form method="POST" class="container">
      <div class="form-group row">
        <div class="col-sm-10">
          <select name="LoteId" class="custom-select">
            <option selected="true" disabled>Lote</option>
            <% lotes.forEach(m => { %>
              <option value="<%= m.id %>"">LP<%= m.id %></option>
            <% }); %>            
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <select name="UsuarioId" class="custom-select">
            <option selected="true" disabled>Usuário</option>
            <% usuarios.forEach(m => { %>
              <option value="<%= m.id %>"><%= m.nome %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Data de embalagem</span></div>
        <input class="form-control" type="date" name="data" value="<%= moment().format('YYYY-MM-DD'); %>" required></input>
      </div>
      <button type="submit" class="btn btn-success" >Cadastrar</button>
    </form>
    <h3>Lotes de embalagens primárias cadastradas</h3>
    <div class="table-responsive-md">
      <table class="table">
        <thead>
          <tr>
            <th>Cód.</th>
            <!-- <th>Quantidade</th> -->
            <th>Data de embalagem</th>
            <th>Usuário do LAB</th>
          </tr>
        </thead>
        <tbody>
          <% lotesEmbalagemPrima.forEach(l => { %>
          <tr>
            <td>LP<%= l.LoteId %></td>
            <td><%= moment(l.data).format('DD/MM/YYYY') %></td>
            <td><%= l.Usuario.nome %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>