<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar matéria-prima</h3>
      <form method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Nome</span></div>
          <input class="form-control" type="text" name="nome" required></input>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Tipo</span></div>
          <select class="custom-select" name="tipo" required>
            <option selected disabled>Selecione</option>
            <option value="Matéria prima">Matéria prima</option>
            <option value="Equipamento">Equipamento</option>
            <option value="Material de limpeza">Material de limpeza</option>
            <option value="Embalagem">Embalagem</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Descrição</span></div>
          <textarea class="form-control" name="descricao"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Cadastrar</button>
      </form>
      <h3>Matérias-primas cadastrados</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Tipo</th>
              <th>Descrição</th>
              <th>Quantidade disponível</th>
            </tr>
          </thead>
          <tbody>
            <% materiasprimas.forEach(u => { %>
            <tr>
              <td><%= u.id %></td>
              <td><%= u.nome %></td>
              <td><%= u.tipo %></td>
              <td><%= u.descricao %></td>
              <td><%= u.qtd_atual %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>