<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar matéria-prima</h3>
      <form method="POST">
        <input class="form-control mb-3" type="text" name="nome" placeholder="Nome" required></input>
        <select class="custom-select mb-3" name="tipo" required>
          <option selected disabled>Selecione o tipo</option>
          <option value="Filamento">Filamento</option>
          <option value="PETG">PETG</option>
          <option value="Rolo de elástico">Rolo de elástico</option>
          <option value="Elástico manufaturado">Elástico manufaturado</option>
          <option value="Visor manufaturado">Visor manufaturado</option>
          <option value="Matéria-prima">Matéria-prima</option>
          <option value="Equipamento">Equipamento</option>
          <option value="Material de limpeza">Material de limpeza</option>
          <option value="Embalagem">Embalagem</option>
        </select>
        <select class="custom-select mb-3" name="unidade" required>
          <option value="u">Item</option>
          <option value="kg">Quilograma</option>
          <option value="g">Grama</option>
          <option value="l">Litros</option>
          <option value="ml">Mililitro</option>
        </select>
        <input class="form-control mb-3" type="number" step="0.001" name="qtd_unidade" placeholder="Quantidade por unidade" required></input>
        <textarea class="form-control mb-3" name="descricao" placeholder="Descrição"></textarea>
        <button class="btn btn-success mb-3" type="submit">Cadastrar</button>
      </form>
      <h3>Matérias-primas cadastradas</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Cód.</th>
              <th>Nome</th>
              <th>Tipo</th>
              <th>Qtd. unidade</th>
              <th>Unidade</th>
              <th>Descrição</th>
              <th>Unidades</th>
              <th>Quantidade</th>
            </tr>
          </thead>
          <tbody>
            <% materiasprimas.forEach(u => { %>
            <tr>
              <td>MP<%= u.id %></td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="nome" value="<%= u.nome %>"></input></td>
              <td>
                <select class="pretendText" table-id="<%= u.id %>" name="tipo" default-value="<%= u.tipo %>">
                  <option value="Filamento">Filamento</option>
                  <option value="PETG">PETG</option>
                  <option value="Rolo de elástico">Rolo de elástico</option>
                  <option value="Elástico manufaturado">Elástico manufaturado</option>
                  <option value="Visor manufaturado">Visor manufaturado</option>
                  <option value="Matéria-prima">Matéria-prima</option>
                  <option value="Equipamento">Equipamento</option>
                  <option value="Material de limpeza">Material de limpeza</option>
                  <option value="Embalagem">Embalagem</option>
                </select>
              </td>
              <td><input class="pretendText" type="text" table-id="<%= u.id %>" name="qtd_unidade" value="<%= u.qtd_unidade %>"></input></td>
              <td>
                <select class="pretendText" table-id="<%= u.id %>" name="unidade" default-value="<%= u.unidade %>">
                  <option value="u">Item</option>
                  <option value="kg">Quilograma</option>
                  <option value="g">Grama</option>
                  <option value="l">Litros</option>
                  <option value="ml">Mililitro</option>
                </select>
              </td>
              <td><textarea class="pretendText" type="text" table-id="<%= u.id %>" name="descricao"><%= u.descricao %></textarea></td>
              <td><%= u.qtd_atual %></td>
              <td><%= u.qtd_atual*u.qtd_unidade %><%= u.unidade %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>