<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar matéria-prima</h3>
      <form method="POST">
        <input class="form-control mb-3" type="text" name="nome" placeholder="Nome" required></input>
        <select class="custom-select mb-3" name="tipo" required>
          <option selected disabled>Selecione o tipo</option>
          <option value="Matéria-prima">Matéria-prima</option>
          <option value="Equipamento">Equipamento</option>
          <option value="Material de limpeza">Material de limpeza</option>
          <option value="Embalagem">Embalagem</option>
        </select>
        <textarea class="form-control mb-3" name="descricao" placeholder="Descrição"></textarea>
        <button class="btn btn-success mb-3" type="submit">Cadastrar</button>
      </form>
      <h3>Matérias-primas cadastrados</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Cód.</th>
              <th>Nome</th>
              <th>Tipo</th>
              <th>Descrição</th>
              <th>Quantidade disponível</th>
            </tr>
          </thead>
          <tbody>
            <% materiasprimas.forEach(u => { %>
            <tr>
              <td>MP<%= u.id %></td>
              <td><%= u.nome %></td>
              <td><%= u.tipo %></td>
              <td><%= u.descricao %></td>
              <td><%= u.qtd_atual %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>